Source: libsis-base-java
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Tim Booth <tbooth@ceh.ac.uk>,
           Olivier Sallou <osallou@debian.org>,
           Andreas Tille <tille@debian.org>
Section: java
Priority: optional
Build-Depends: debhelper-compat (= 13),
               default-jdk,
               javahelper,
               libcommons-lang3-java,
               libcommons-io-java,
               testng,
               libtool,
               procps
Standards-Version: 4.5.1
Vcs-Browser: https://salsa.debian.org/med-team/libsis-base-java
Vcs-Git: https://salsa.debian.org/med-team/libsis-base-java.git
Homepage: https://sissource.ethz.ch/sispub/base
Rules-Requires-Root: no

Package: libsis-base-java
Architecture: all
Depends: ${misc:Depends},
         ${java:Depends},
         libsis-base-jni (>= ${source:Version})
Description: Base libraries used by software from the SIS division at ETH Zurich
 This library supplies some utility classes needed for libraries like sis-jhdf5.
 .
 Sis-jhdf5 is a Java binding to the HDF Group library for HDF5 focusing on
 ease-of-use.

Package: libsis-base-jni
Architecture: any
Depends: ${misc:Depends},
         ${java:Depends},
         ${shlibs:Depends}
Description: Base libraries used by ETH-SIS (JNI components)
 This library contains the two small native libraries used by libsis-base-java.
 .
 This library supplies some utility classes needed for libraries like sis-jhdf5.
